{% extends 'base.html.twig' %}
{% block body %}
<!-- layout divs: -->
<div class="container">
<div class="row">
<div class="col-md-5"> <!-- col-md-5 --> </div>
<div class="col-md-3">
<!-- test: -->

<!-- form -->
    <pre>{% dump(registerForm) %}</pre>
    <h1 class="h3 mb-3 font-weight-normal">Register:</h1>
    {{ form_start(registerForm) }}
    {{ form_row(registerForm.email, {'label' :  'Email:'}) }}
    {{ form_widget(registerForm)}}
    <button type="submit" class="btn btn-primary">Submit</button>
    {{form_end(registerForm)}}

</div> <!-- col-md-3 -->
</div> <!-- /row -->
</div> <!-- /container -->

{% endblock %}
