.test1 {
    background-color: silver;
}
.test2 {
    background-color: gray;
}
.test3 {
    background-color: #505050;
}
.test4 {
    background-color: #383838;
}

.light-link{
    color: white;
}




                         /* Media Queries */

/* Small devices (landscape phones, 576px and up) */
/* @media (min-width: 576px) {
    #footer-img img{
        min-height: 100px;
    }
} */

/* Medium devices (tablets, 768px and up) */
/* @media (min-width: 768px) {
    #footer-img img{
        min-height: 200px;
    }
} */

/* Large devices (desktops, 992px and up) */
/* @media (min-width: 992px) {
    #footer-img img {
        min-height: 300px;
    }
} */

/* Extra large devices (large desktops, 1200px and up) */
/* @media (min-width: 1200px) {
    #footer-img img{
        min-height: 400px;
    }
} */


#footer-img {
    height: 270px !important;
    background: url("../images/appImgs/homepage-img/footer-img1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
