<div class="container-fluid" style="background-image: url('images/appImgs/homepage-img/footer-img13.jpg')">
    <div class="row">
        <div class="col-sm-12 col-md-6">
            <div class="row pt-4">
                <div class="col text-white">
                    email@onent.lt | + 370 123 456789 <hr class="my-2" style="border: 1px solid gray;">
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="row .navbar-nav .nav-link">
                        <div class="col px-1">
                            <a class="nav-link p-1 light-link" href="#">Home</a>
                        </div>
                        <div class="col ">
                            <a class="nav-link p-1 light-link" href="#">About us</a>
                        </div>
                        <div class="col ">
                            <a class="nav-link p-1 light-link" href="#">Blog </a>
                        </div>
                        <div class="col ">
                            <a class="nav-link p-1 light-link" href="#">Contact Us</a>
                        </div>
                        <div class="col">
                            <a class="nav-link p-1 light-link" href="#">Other</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6 col-sm-12 col-md-6 pt-4">
            <div class="row"> <div class="col"> &nbsp</div></div>
            <div class="row"> <div class="col"> &nbsp</div></div>
            <p class="float-right text-white">Copyrights © 2020 - OneNt</p>
            <!-- another 6 -->
        </div>
    </div>
</div>

<img src="images/appImgs/homepage-img/footer-img13.jpg" class="img-fluid min-width: 100% " alt="cia turetu but img">
<nav class="navbar navbar-expand navbar-light">
    <ul class="navbar-nav ml-auto">
