<div class="container mx-0 px-0">
    <div class="row">
        <div class="col-6">
            <div class="row">
                <div class="col">
                    email@onent.lt | + 370 123 456789 <hr class="my-2">
                </div>
            </div>
            <div class="row test4">
                <div class="col-12 test1">
                    <nav class="navbar navbar-expand navbar-light">
                        <ul class="navbar-nav">
                            <li>
                                <a clas="nav-link" href="#">Home</a>
                            </li>
                            <li>
                                <a clas="nav-link" href="#">About us</a>
                            </li>
                            <li>
                                <a clas="nav-link" href="#">Blog</a>
                            </li>
                            <li>
                                <a clas="nav-link" href="#">Contact us</a>
                            </li>
                            <li>
                                <a clas="nav-link" href="#">Other</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>

<img src="images/appImgs/homepage-img/footer-img1.jpg" class="img-fluid min-width: 100% " alt="cia turetu but img">



Home About Us Our Brand Promise Blog Contact Privacy Policy
