<!-- Search nav -->


<form class="form my-2 py-2">
    <div class="row"><div class="col-sm-12 col-lg-8 px-1 px-md-2">
        <input class="form-control mb-2" type="search" placeholder="Paieška" aria-label="Search">
    </div></div>
<div class="row">
    <div class="col-sm-4 col-md-3 col-lg-2 p-sm-1 my-1 px-md-2">
        <select class="custom-select custom-select-sm" id="mainNavType">
            <option value="" selected>Nt tipas</option>
            <!-- cia loop galima parasyt -->
            {# if tipas is defined #}
            <option value="butai" {% if tipas == 'Butai' %} selected {% endif %}>Butai</option>
            <option value="namai" {% if tipas == 'Namai' %} selected {% endif %}>Namai</option>
            <option value="sklypai" {% if tipas == 'Sklypai' %} selected {% endif %}>Sklypai</option>
            <option value="kita" {% if tipas == 'kita' %} selected {% endif %}>kita</option>
        {# endif #}
        </select>
    </div>
<div class="col-sm-4 col-md-3 col-lg-2 p-sm-1 my-1 px-md-2">
    <select class="custom-select custom-select-sm" id="mainNavPlotas">
        <option value="" selected>Plotas, <span> &#13217;  </span> </option>
        <option value="0-50">0 - 50m</option>
        <option value="50-75">50 - 75m</option>
        <option value="75-100">75 - 100m</option>
        <option value="100-500">100 - 500m</option>
    </select>
</div>
<div class="col-sm-4 col-md-3 col-lg-2 p-sm-1 my-1 px-md-2">
    <select class="custom-select custom-select-sm" id="mainNavKambariuSkaicius">
        <option value="" selected>kambariu skaicius</option>
        <option value="1">Uno</option>
        <option value="2">Dos</option>
        <option value="3">tres</option>
    </select>
</div>
<div class="col-sm-6 col-md-3 col-lg-2 p-sm-1 my-1 px-md-2">
    <select class="custom-select custom-select-sm" id="mainNavApdaila">
        <option value="" selected>Apdaila</option>
        <option value="pilna">Pilna</option>
        <option value="daline">Dalinė</option>
        <option value="neirengtas">Neįrengtas</option>
    </select>
</div>
</div>
<div class="row">
<div class="col-sm-5 col-md-3 col-md-3 p-sm-1 my-1 px-md-2">
    <select class="custom-select custom-select-sm" id="mainNavCity">
        <option value="" selected>Miestas</option>
        <option value="Vilnius">Vilnius</option>
        <option value="Kaunas">Kaunas</option>
        <option value="Tauragė">Tauragė</option>
    </select>
</div>
<div class="col-sm-5 col-md-3 col-md-3 p-sm-1 my-1 px-md-2">
    <select class="custom-select custom-select-sm" id="mainNavRajon">
        <option value="" selected>Rajonas</option>
    </select>
</div>
</div>
</form>

<div class="row"><div class="col">
<button class="btn btn-outline-success mt-2 col-sm-12 col-md-3" id="mainpage-search" type="submit">Search</button>
</div></div>
<hr>
</div> <!-- /container -->
</div> <!-- /row -->
</div> <!-- /col -->

<!-- add functionality and event listeners -->
<script src="/js/main_navbar_search.js"></script>
