{% extends 'base.html.twig' %}
{% block title %} Homepage {% endblock %}
{% block body %}
{% block header %}
<!-- Login/Singup section -->
<!-- <div class="container">
  <div class="row">
    <div class="col text-right"> -->

<!-- test: -->

<!-- display login/sign options -->
{% include 'headfoot/login_nav.html.twig' %}

<!-- <nav class="navbar navbar-light bg-light">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Features</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Pricing</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
      </li>
    </ul>
</nav> -->

    <!-- </div>
  </div>
</div> -->
{% endblock %} <!-- /header -->

<!-- Content -->
{% block Content %}
{{ '<h2>homepage</h2>'}}
<div class="">
Content
</div>
{% endblock %}

<!-- footer -->
{% block footer %}
{% include 'headfoot/footer.html.twig' %}
{{ parent() }}
{% endblock %}
{% endblock %}
