
<nav class="navbar navbar-expand-md navbar-light bg-light">
  <a class="navbar-brand" href="#"> <img src="images/appImgs/homepage-img/logo-large.jpg" width="auto" height="100" alt="logo"> </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#homeNavbarSupportedContent" aria-controls="homeNavbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="homeNavbarSupportedContent">
    <ul class="navbar-nav mr-auto" id="homeNavbarUl">
      <li class="nav-item">
        <a class="nav-link" href="#">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ path('app_nauji_projektai') }}">Nauji Projektai</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Skelbimai
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/find-property-Butai/">Butai</a>
          <a class="dropdown-item" href="/find-property-Namai/">Namai</a>
          <a class="dropdown-item" href="/find-property-Sklypai/">Sklypai</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Nt Naujienos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Kiti Pasiūlimai</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Paieška" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" id="homepage-search" type="submit">Search</button>
    </form>
  </div>
</nav>

<script>
//  adjust font size
    let ul = document.getElementById('homeNavbarUl');
    let items = ul.getElementsByTagName('li');
    for (var i = 0; i < items.length; i++) {
        let a = items[i].getElementsByTagName('a').item(0);
        a.style.fontSize = 'medium';

    }
</script>
