{% extends 'base.html.twig' %}
{% block title %} Homepage {% endblock %}
{% block stylesheets %}
{{ parent() }}
<link rel="stylesheet" href="{{ asset('/css/slideshow-style.css') }}">
{% endblock %}
{% block body %}
{% block header %}
    <!-- display login/sign options -->
    {% include 'headfoot/login_nav.html.twig' %}
{% endblock %} <!-- /header -->

<!-- Content -->
{% block Content %}
{% include 'headfoot/header_img.html.twig' %}
{% include 'home_tmpl/homepage_nav.html.twig' %}
    <!-- {# '<h2>homepage</h2>'#}
    <div class="">
        Content
    </div> -->
{% endblock %}

<!-- footer -->
{% block footer %}
    {% include 'headfoot/footer.html.twig' %}
        {{ parent() }}
    {% endblock %}
{% endblock %}
