{% extends 'base.html.twig' %}
{% block title %} Homepage {% endblock %}

{% block header %}
<!-- Login/Singup section -->
<div class="container">
  <div class="row">
    <div class="col text-right">
      Login | Singup
    </div>
  </div>
</div>
{% endblock %}

{% block Content %}
<div class="">
Content
</div>
{% endblock %}
